//todo.
//individual sprite positioning
// $sprites-retina-spotify-position: 95%   -- this won't work for some reason.

//   example sass/css usage

// .spotify {
//   @include icon (spotify, 10px, 3px, retina);
//   width: 70%;
//   height: 84px;
//   display: block;
// }

//       or with a retina version and it's offsets ~
//   @include icon (spotify, 2px, 3px, retina, 4px, 5px);

//       or with retina version ignored and not used ~
//   @include icon (spotify, 2px, 3px);



//  true/false   set to true to see retina images on standard screens
//  puts a red border around the page edge.
$retina-debug-mode: false;

//default icon sprite spacing
$sprite-padding: 40px;

$sprites: sprite-map("sprites/*.png", $spacing: $sprite-padding, $sprites-spotify-spacing: 400px);
$sprites-retina: sprite-map("sprites-retina/*.png", $spacing: $sprite-padding * 2);






%bg-normal {
  background-image: sprite-url($sprites);
  background-repeat: no-repeat;
}

@mixin icon($name, $offset-x: 0, $offset-y:0, $retina-switch: false, $retina-offset-x: 0, $retina-offset-y: 0 ) {
  @if $retina-debug-mode  == false {
    background-color: red;

    @extend %bg-normal;
    background-position: sprite-position($sprites, $name, $offset-x, $offset-y);
  // end if
  }

  @else {
      background-repeat: no-repeat;  

      @if $retina-offset-x == 0 { $retina-offset-x: $offset-x; }
      @if $retina-offset-y == 0 { $retina-offset-y: $offset-y; }
      // the following lines put debug ouput in the command line compass watcher, just uncomment to enable
      // @debug "Roffset x =" $retina-offset-x;
      // @debug "Roffset y =" $retina-offset-y;

      @if $retina-switch == retina {
        background-color: darkgreen;

        background-image: sprite-url($sprites-retina);
        $hor-pos: floor(nth(sprite-position($sprites-retina, $name), 1) / 2);
        $vert-pos: floor(nth(sprite-position($sprites-retina, $name), 2) / 2);
        background-position: $hor-pos+$retina-offset-x $vert-pos+$retina-offset-y;
        @include background-size(round(image-width(sprite-path($sprites-retina)) / 2) auto);
      }
      // end if 
  }

  // @media screen and (max-width: 600px) {
  @media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 2) {
  
    @if $retina-offset-x == 0 { $retina-offset-x: $offset-x; }
    @if $retina-offset-y == 0 { $retina-offset-y: $offset-y; }
    // the following lines put debug ouput in the command line compass watcher, just uncomment to enable
    // @debug "Roffset x =" $retina-offset-x;
    // @debug "Roffset y =" $retina-offset-y;

    @if $retina-switch == retina {
      background-color: lightgreen;

      background-image: sprite-url($sprites-retina);
      $hor-pos: floor(nth(sprite-position($sprites-retina, $name), 1) / 2);
      $vert-pos: floor(nth(sprite-position($sprites-retina, $name), 2) / 2);
      background-position: $hor-pos+$retina-offset-x $vert-pos+$retina-offset-y;
      @include background-size(round(image-width(sprite-path($sprites-retina)) / 2) auto);
    }
    // end if 

  // end media query
  }
// end
}


@if $retina-debug-mode  == true {
  html { 
    border: 3px solid red; 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
//
}
